<cfcomponent>

    <cfset this.name="acfblog">
    
    <!--- set the search catalog to use --->
    <cfset this.search_catalog = "acfb">
    
    <cffunction name="onRequestStart">
        <cfset request.authid = "userid">
    </cffunction>

</cfcomponent>