<cfif StructKeyExists(request, "qryBlog")>
	<cfoutput>
        <cfif StructKeyExists(request.qryBlog, "user_profile_url")>
			<a href="#attributes.acfb.user_profile_url##request.qryBlog.blog_user_id#">#request.qryBlog.blog_user_name#</a> |<cfelseif request.qryBlog.blog_user_name IS NOT "">#request.qryBlog.blog_user_name# |</cfif>
        <cfif StructKeyExists(request.qryBlog, "division_profile_url")><a href="http://people.intranet.arup.com/index.cfm?layout=people.group.information&ref=#request.qryBlog.blog_user_division#">Group</a> | </cfif>
        2011 | <a href="http://code.google.com/p/another-coldfusion-blog/">Another CF Blog</a>
    </cfoutput>
</cfif>