<cfsilent>

    <!---
	<cfparam name="url.blogid" type="numeric">
	<cfset objBlog = CreateObject("component", "components.obj_blog")>
    <cfset qryBlog = objBlog.getBlog(url.blogid)>

    <cfif NOT StructKeyExists(cookie, "staffid") OR cookie.staffid IS NOT qryBlog.blog_user_id>
    	<cflocation url="forbidden.cfm" addtoken="false">
    </cfif>
	--->
    
    <cfset application.uploadedfiles = "D:\railo-search\upload-temp">
    <cfset application.uploadedfilestemp = "D:\users\mysite\htdocs\uploads">
    
    <cfif StructKeyExists(application, "uploadedfiles") AND StructKeyExists(application, "uploadedfilestemp")>
    	<cffile action="upload" filefield="upload" destination="#application.uploadedfilestemp#">
    </cfif>
    
    <!---
    fieldnames,upload, type=images&CKEditor=postbody&CKEditorFuncNum=2&langCode=en
	--->
    
</cfsilent>