<cfif StructKeyExists(request, "qryPage")>
	<cfset wikiParser = request.data.getObject("wiki.obj_wiki_parser")>
	<cfoutput><h2 class="top-align post-title">#request.qryPage.page_title#
		<cfif request.canEdit><a href="http://s-fnts16.global.arup.com/?layout=wiki.edit&amp;wikiid=#request.qryPage.page_wiki_id#&amp;page=#request.qryPage.page_id#" style="float:right;font-size: 0.8em; border:1px solid blue; background-color:##9CF; text-decoration:none">Edit</a></cfif>
	</h2>
	<div style="text-align: right; color: ##069; font-size: 0.8em">#request.qryPage.page_editor_id# | #DateFormat(request.qryPage.page_date)# | version #request.qryPage.page_version#</div>
	<div class="acb-wiki">
	#wikiParser.parse(request.qryPage.page_content)#
	</div>
</cfoutput>
</cfif>