<cfsilent>

	<cfparam name="url.wikiid" default="1">
    <cfset objWiki = request.data.getObject("wiki.obj_wiki")>
    <cfset qryWiki = objWiki.getWiki(attributes.wikiid)>
    <cfset qryRecent = objWiki.getRecentPages(qryWiki.wiki_id, 10)>

</cfsilent>
            <div id="posts" class="poddy">
                <h2>Recent Pages</h2>
                <cfoutput query="qryRecent"><ul>
                    <li><a href="/wiki/#qryWiki.wiki_name_user#/#page_id#">#page_title#</a></li>
                </ul></cfoutput>
            </div>