@charset "utf-8";
/* CSS Document */

body {
	font-family: Cambria, Georgia, "Times New Roman", Times, serif;
	padding: 0;
	margin: 3px;
	background-color:#CCC;
	margin-top: 1em;
}
ul, ol, li {
	margin: 0 0 0.4em;
	padding: 0;
}
ul, ol {
	margin-bottom: 1em;
}
.acb-wiki ul,
.acb-wiki ol{
	margin-left: 2em;
}

h1, h2, h3, h4, h5, h6 { color:#666}
h1, h2, h3, h4, h5, h6 { color:#666}
h1 {font-size: 2em }

.col1 {width: 84px}
.col2 {width: 186px}
.col3 {width: 288px}
.col4 {width: 390px}
.col5 {width: 492px}
.col6 {width: 594px}
.col7 {width: 696px}
.col8 {width: 798px}

.right {float: right}
.left  {float: left}

.top-align {margin-top: 0}
.bottom-align {margin-bottom: 0}

.top-heading {
	margin: 0;
	background: url(../images/header-bg.png) 50%;
	background-repeat: repeat-x;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
.blue .top-heading {background: url(../images/header-bg-blue.png) 50%;}
.top-heading h1 {
	margin: 0;
	color: #CCC;
	line-height: 2em;
	padding: 0 1em;
}
.u-line {
	border-bottom: 1px solid #CCC;
	padding-bottom: 0.5em;
}
.post-date {
	margin: 0 0 1em;
	font-size: 0.8em;
	color: #999;
}
.post-title {
	margin-bottom: 0.2em;
}
.button-bar {
	margin: 1em 0 0.5em;
	text-align: right;
}
.cancel {
	color: #F33;
	font-weight: bold;
}
.big-form {
	font-size: 1.5em;
	font-family: inherit;
	margin: 0.5em 0;
	width: 100%;
}

#content {
	width: 900px;
	margin: 0 auto;
	padding: 0.5em;
	border: 1px solid #333;
	background-color: #FFF;
}
#maincontent {
	margin-top: 1em;
}
#body {
	float: left;
}

/* the right nav is a number of pod like entities, that contain 
relevant but self contained information */
#rightnav {
	font-size: 0.8em;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#rightnav .poddy {
	border-bottom: 1px solid #CCC;
	margin-bottom: 3em;
}
#rightnav .poddy ul {
	list-style: none;
}
#rightnav .poddy li {
	border-top: 1px solid #CCC;
	line-height: 2em;
}
/* style the first pod heading so that it jumps towards */
#rightnav .poddy:first-child p:first-child,
#rightnav .poddy:first-child h1:first-child,
#rightnav .poddy:first-child h2:first-child,
#rightnav .poddy:first-child h3:first-child,
#rightnav .poddy:first-child h4:first-child,
#rightnav .poddy:first-child h5:first-child,
#rightnav .poddy:first-child h6:first-child
{
	margin-top: 0;
}

/* the footer element is the last part of the page */
#footer {
	border-top: 1px solid #CCC;
	padding-top: 2em;
	clear: both;
	text-align:center;
	font-size: 0.8em;
	font-family: Georgia, "Times New Roman", Times, serif;
}

pre.code {
	color: #009;
	padding-left: 1em;
	background-color: #FFC;
}