.syntaxhighlighter code.cf.string {color:#C03;}

.syntaxhighlighter code.cf.plain {color:#930;}

.syntaxhighlighter code.cf.spaces {}

.syntaxhighlighter code.cf.keyword {color:#03C;}

.syntaxhighlighter table code {font-size: 0.8em !important}


/*
.line
.number6
.index5
.alt1
*/